In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import requests 
import lxml
import numpy as np

In [2]:
source = requests.get('https://www.agricultura.pr.gov.br/Pagina/cotacao-diaria-SIMA-1696').text

ConnectionError: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))

In [3]:
df=pd.read_excel('04-07-22_impressao.xls')

In [4]:
df.head()

,SECRETARIA DA AGRICULTURA E DO ABASTECIMENTO – SEAB,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,SIMA,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,COTAÇÃO DO DIA :,Unnamed: 20,Unnamed: 21,04/07/2022,Unnamed: 23
0,DEPARTAMENTO DE ECONOMIA RURAL - D E R A L,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SISTEMA DE INFORMAÇÃO DE ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DIVISÃO DE ESTATÍSTICAS BÁSICAS - D E B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,COTAÇÃO DE COMPRA PELOS ATACADIST...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,em R$/unidade,NaN,NaN
2,PRODUTOS,NaN,APUCARANA,CAMPO MOURÃO,CASCAVEL,"C,PROCÓPIO",CURITIBA,"F,BELTRÃO",GUARAPUAVA,IRATI,...,MARINGÁ,PARANAVAÍ,PATO BRANCO,PONTA GROSSA,TOLEDO,UMUARAMA,UNIÃO DA VITÓRIA,Média,Média,"Var, (%)"
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Diária,Dia Anterior,NaN
4,Arroz Agulhinha em casca tipo 1 ...,MIN,\\\,AUS,\\\,\\\,\\\,\\\,\\\,\\\,...,\\\,90,\\\,\\\,\\\,95,\\\,NaN,NaN,NaN

In [5]:
price_date=df.columns[-2]
price_date

'04/07/2022'

In [6]:
df.drop([0,1,3,43,44],axis=0,inplace=True)
df.head()

,SECRETARIA DA AGRICULTURA E DO ABASTECIMENTO – SEAB,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,SIMA,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,COTAÇÃO DO DIA :,Unnamed: 20,Unnamed: 21,04/07/2022,Unnamed: 23
2,PRODUTOS,NaN,APUCARANA,CAMPO MOURÃO,CASCAVEL,"C,PROCÓPIO",CURITIBA,"F,BELTRÃO",GUARAPUAVA,IRATI,...,MARINGÁ,PARANAVAÍ,PATO BRANCO,PONTA GROSSA,TOLEDO,UMUARAMA,UNIÃO DA VITÓRIA,Média,Média,"Var, (%)"
4,Arroz Agulhinha em casca tipo 1 ...,MIN,\\\,AUS,\\\,\\\,\\\,\\\,\\\,\\\,...,\\\,90,\\\,\\\,\\\,95,\\\,NaN,NaN,NaN
5,NaN,M_C,\\\,AUS,\\\,\\\,\\\,\\\,\\\,\\\,...,\\\,90,\\\,\\\,\\\,95,\\\,90.6,90.61,-0.01
6,NaN,MÁX,\\\,AUS,\\\,\\\,\\\,\\\,\\\,\\\,...,\\\,95,\\\,\\\,\\\,95,\\\,NaN,NaN,NaN
7,Café em coco kg renda,MIN,20,21.35,\\\,20.25,\\\,\\\,\\\,\\\,...,20.2,21.08,\\\,\\\,21.36,19.25,\\\,NaN,NaN,NaN

In [7]:
prods=df[df['SECRETARIA DA AGRICULTURA E DO ABASTECIMENTO – SEAB'].isna()==False]['SECRETARIA DA AGRICULTURA E DO ABASTECIMENTO – SEAB']

In [8]:
prods=[i for i in prods]
prods

['PRODUTOS ',
 'Arroz Agulhinha em casca tipo 1                                     sc 60 Kg',
 'Café em coco                       kg renda',
 'Café beneficiado bebida dura - tipo 6                          sc 60 Kg',
 'Erva Mate folha posto indústria  arroba',
 'Feijão Carioca tipo 1             sc 60 Kg',
 'Feijão preto tipo 1                 sc 60 Kg',
 'Mandioca padrão de amido 580 g                         tonelada',
 'Milho amarelo tipo 1              sc 60 Kg',
 'Soja industrial tipo 1             sc 60 Kg',
 'Trigo pão PH 78                    sc 60 Kg',
 'Boi em pé                              arroba',
 'Suíno em pé tipo carne não integrado                              kg',
 'Vaca em pé (padrão corte)  arroba']

In [9]:
prods=prods[1:]

In [10]:
d=df['SECRETARIA DA AGRICULTURA E DO ABASTECIMENTO – SEAB'][1:]

In [11]:
d=[i for i in d]
d

['Arroz Agulhinha em casca tipo 1                                     sc 60 Kg',
 nan,
 nan,
 'Café em coco                       kg renda',
 nan,
 nan,
 'Café beneficiado bebida dura - tipo 6                          sc 60 Kg',
 nan,
 nan,
 'Erva Mate folha posto indústria  arroba',
 nan,
 nan,
 'Feijão Carioca tipo 1             sc 60 Kg',
 nan,
 nan,
 'Feijão preto tipo 1                 sc 60 Kg',
 nan,
 nan,
 'Mandioca padrão de amido 580 g                         tonelada',
 nan,
 nan,
 'Milho amarelo tipo 1              sc 60 Kg',
 nan,
 nan,
 'Soja industrial tipo 1             sc 60 Kg',
 nan,
 nan,
 'Trigo pão PH 78                    sc 60 Kg',
 nan,
 nan,
 'Boi em pé                              arroba',
 nan,
 nan,
 'Suíno em pé tipo carne não integrado                              kg',
 nan,
 nan,
 'Vaca em pé (padrão corte)  arroba',
 nan,
 nan]

In [12]:
i=0
for p in prods:
    d[i+1]=p
    d[i+2]=p
    i=i+3

In [13]:
d

['Arroz Agulhinha em casca tipo 1                                     sc 60 Kg',
 'Arroz Agulhinha em casca tipo 1                                     sc 60 Kg',
 'Arroz Agulhinha em casca tipo 1                                     sc 60 Kg',
 'Café em coco                       kg renda',
 'Café em coco                       kg renda',
 'Café em coco                       kg renda',
 'Café beneficiado bebida dura - tipo 6                          sc 60 Kg',
 'Café beneficiado bebida dura - tipo 6                          sc 60 Kg',
 'Café beneficiado bebida dura - tipo 6                          sc 60 Kg',
 'Erva Mate folha posto indústria  arroba',
 'Erva Mate folha posto indústria  arroba',
 'Erva Mate folha posto indústria  arroba',
 'Feijão Carioca tipo 1             sc 60 Kg',
 'Feijão Carioca tipo 1             sc 60 Kg',
 'Feijão Carioca tipo 1             sc 60 Kg',
 'Feijão preto tipo 1                 sc 60 Kg',
 'Feijão preto tipo 1                 sc 60 Kg',
 'Feijão preto tipo 1                 sc 60 Kg',
 'Mandioca padrão de amido 580 g                         tonelada',
 'Mandioca padrão de amido 580 g                         tonelada',
 'Mandioca padrão de amido 580 g                         tonelada',
 'Milho amarelo tipo 1              sc 60 Kg',
 'Milho amarelo tipo 1              sc 60 Kg',
 'Milho amarelo tipo 1              sc 60 Kg',
 'Soja industrial tipo 1             sc 60 Kg',
 'Soja industrial tipo 1             sc 60 Kg',
 'Soja industrial tipo 1             sc 60 Kg',
 'Trigo pão PH 78                    sc 60 Kg',
 'Trigo pão PH 78                    sc 60 Kg',
 'Trigo pão PH 78                    sc 60 Kg',
 'Boi em pé                              arroba',
 'Boi em pé                              arroba',
 'Boi em pé                              arroba',
 'Suíno em pé tipo carne não integrado                              kg',
 'Suíno em pé tipo carne não integrado                              kg',
 'Suíno em pé tipo carne não integrado                              kg',
 'Vaca em pé (padrão corte)  arroba',
 'Vaca em pé (padrão corte)  arroba',
 'Vaca em pé (padrão corte)  arroba']

In [14]:
df['SECRETARIA DA AGRICULTURA E DO ABASTECIMENTO – SEAB'][1:]=d
df.head()

,SECRETARIA DA AGRICULTURA E DO ABASTECIMENTO – SEAB,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,SIMA,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,COTAÇÃO DO DIA :,Unnamed: 20,Unnamed: 21,04/07/2022,Unnamed: 23
2,PRODUTOS,NaN,APUCARANA,CAMPO MOURÃO,CASCAVEL,"C,PROCÓPIO",CURITIBA,"F,BELTRÃO",GUARAPUAVA,IRATI,...,MARINGÁ,PARANAVAÍ,PATO BRANCO,PONTA GROSSA,TOLEDO,UMUARAMA,UNIÃO DA VITÓRIA,Média,Média,"Var, (%)"
4,Arroz Agulhinha em casca tipo 1 ...,MIN,\\\,AUS,\\\,\\\,\\\,\\\,\\\,\\\,...,\\\,90,\\\,\\\,\\\,95,\\\,NaN,NaN,NaN
5,Arroz Agulhinha em casca tipo 1 ...,M_C,\\\,AUS,\\\,\\\,\\\,\\\,\\\,\\\,...,\\\,90,\\\,\\\,\\\,95,\\\,90.6,90.61,-0.01
6,Arroz Agulhinha em casca tipo 1 ...,MÁX,\\\,AUS,\\\,\\\,\\\,\\\,\\\,\\\,...,\\\,95,\\\,\\\,\\\,95,\\\,NaN,NaN,NaN
7,Café em coco kg renda,MIN,20,21.35,\\\,20.25,\\\,\\\,\\\,\\\,...,20.2,21.08,\\\,\\\,21.36,19.25,\\\,NaN,NaN,NaN

In [15]:
df.drop(df.columns[-3:],axis=1,inplace=True)
df.head()

,SECRETARIA DA AGRICULTURA E DO ABASTECIMENTO – SEAB,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,SIMA,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,COTAÇÃO DO DIA :,Unnamed: 20
2,PRODUTOS,NaN,APUCARANA,CAMPO MOURÃO,CASCAVEL,"C,PROCÓPIO",CURITIBA,"F,BELTRÃO",GUARAPUAVA,IRATI,...,JACAREZINHO,"LARANJ, SUL",LONDRINA,MARINGÁ,PARANAVAÍ,PATO BRANCO,PONTA GROSSA,TOLEDO,UMUARAMA,UNIÃO DA VITÓRIA
4,Arroz Agulhinha em casca tipo 1 ...,MIN,\\\,AUS,\\\,\\\,\\\,\\\,\\\,\\\,...,AUS,\\\,\\\,\\\,90,\\\,\\\,\\\,95,\\\
5,Arroz Agulhinha em casca tipo 1 ...,M_C,\\\,AUS,\\\,\\\,\\\,\\\,\\\,\\\,...,AUS,\\\,\\\,\\\,90,\\\,\\\,\\\,95,\\\
6,Arroz Agulhinha em casca tipo 1 ...,MÁX,\\\,AUS,\\\,\\\,\\\,\\\,\\\,\\\,...,AUS,\\\,\\\,\\\,95,\\\,\\\,\\\,95,\\\
7,Café em coco kg renda,MIN,20,21.35,\\\,20.25,\\\,\\\,\\\,\\\,...,18.83,\\\,20.25,20.2,21.08,\\\,\\\,21.36,19.25,\\\

In [16]:
locations=df.loc[2][2:]
locations=locations.values
locations

array(['APUCARANA', 'CAMPO MOURÃO', 'CASCAVEL', 'C,PROCÓPIO', 'CURITIBA',
       'F,BELTRÃO', 'GUARAPUAVA', 'IRATI', 'IVAIPORÃ', 'JACAREZINHO',
       'LARANJ, SUL', 'LONDRINA', 'MARINGÁ', 'PARANAVAÍ', 'PATO BRANCO',
       'PONTA GROSSA', 'TOLEDO', 'UMUARAMA', 'UNIÃO DA VITÓRIA'],
      dtype=object)

In [17]:
units=df['Unnamed: 1'][1:]
units=units.values
units

array(['MIN', 'M_C', 'MÁX', 'MIN', 'M_C', 'MÁX', 'MIN', 'M_C', 'MÁX',
       'MIN', 'M_C', 'MÁX', 'MIN', 'M_C', 'MÁX', 'MIN', 'M_C', 'MÁX',
       'MIN', 'M_C', 'MÁX', 'MIN', 'M_C', 'MÁX', 'MIN', 'M_C', 'MÁX',
       'MIN', 'M_C', 'MÁX', 'MIN', 'M_C', 'MÁX', 'MIN', 'M_C', 'MÁX',
       'MIN', 'M_C', 'MÁX'], dtype=object)

In [18]:
prods=df['SECRETARIA DA AGRICULTURA E DO ABASTECIMENTO – SEAB'][1:]
prods=prods.values
prods

array(['Arroz Agulhinha em casca tipo 1                                     sc 60 Kg',
       'Arroz Agulhinha em casca tipo 1                                     sc 60 Kg',
       'Arroz Agulhinha em casca tipo 1                                     sc 60 Kg',
       'Café em coco                       kg renda',
       'Café em coco                       kg renda',
       'Café em coco                       kg renda',
       'Café beneficiado bebida dura - tipo 6                          sc 60 Kg',
       'Café beneficiado bebida dura - tipo 6                          sc 60 Kg',
       'Café beneficiado bebida dura - tipo 6                          sc 60 Kg',
       'Erva Mate folha posto indústria  arroba',
       'Erva Mate folha posto indústria  arroba',
       'Erva Mate folha posto indústria  arroba',
       'Feijão Carioca tipo 1             sc 60 Kg',
       'Feijão Carioca tipo 1             sc 60 Kg',
       'Feijão Carioca tipo 1             sc 60 Kg',
       'Feijão preto tipo 1                 sc 60 Kg',
       'Feijão preto tipo 1                 sc 60 Kg',
       'Feijão preto tipo 1                 sc 60 Kg',
       'Mandioca padrão de amido 580 g                         tonelada',
       'Mandioca padrão de amido 580 g                         tonelada',
       'Mandioca padrão de amido 580 g                         tonelada',
       'Milho amarelo tipo 1              sc 60 Kg',
       'Milho amarelo tipo 1              sc 60 Kg',
       'Milho amarelo tipo 1              sc 60 Kg',
       'Soja industrial tipo 1             sc 60 Kg',
       'Soja industrial tipo 1             sc 60 Kg',
       'Soja industrial tipo 1             sc 60 Kg',
       'Trigo pão PH 78                    sc 60 Kg',
       'Trigo pão PH 78                    sc 60 Kg',
       'Trigo pão PH 78                    sc 60 Kg',
       'Boi em pé                              arroba',
       'Boi em pé                              arroba',
       'Boi em pé                              arroba',
       'Suíno em pé tipo carne não integrado                              kg',
       'Suíno em pé tipo carne não integrado                              kg',
       'Suíno em pé tipo carne não integrado                              kg',
       'Vaca em pé (padrão corte)  arroba',
       'Vaca em pé (padrão corte)  arroba',
       'Vaca em pé (padrão corte)  arroba'], dtype=object)

In [19]:
empty=['AUS','\\\\','SINF']
df.replace(regex=empty,value=np.NaN,inplace=True)
df.head()

,SECRETARIA DA AGRICULTURA E DO ABASTECIMENTO – SEAB,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,SIMA,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,COTAÇÃO DO DIA :,Unnamed: 20
2,PRODUTOS,NaN,APUCARANA,CAMPO MOURÃO,CASCAVEL,"C,PROCÓPIO",CURITIBA,"F,BELTRÃO",GUARAPUAVA,IRATI,...,JACAREZINHO,"LARANJ, SUL",LONDRINA,MARINGÁ,PARANAVAÍ,PATO BRANCO,PONTA GROSSA,TOLEDO,UMUARAMA,UNIÃO DA VITÓRIA
4,Arroz Agulhinha em casca tipo 1 ...,MIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,90,NaN,NaN,NaN,95,NaN
5,Arroz Agulhinha em casca tipo 1 ...,M_C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,90,NaN,NaN,NaN,95,NaN
6,Arroz Agulhinha em casca tipo 1 ...,MÁX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,95,NaN,NaN,NaN,95,NaN
7,Café em coco kg renda,MIN,20,21.35,NaN,20.25,NaN,NaN,NaN,NaN,...,18.83,NaN,20.25,20.2,21.08,NaN,NaN,21.36,19.25,NaN

In [20]:
df.replace(np.NaN,value='no value',inplace=True)
df.head()

,SECRETARIA DA AGRICULTURA E DO ABASTECIMENTO – SEAB,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,SIMA,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,COTAÇÃO DO DIA :,Unnamed: 20
2,PRODUTOS,no value,APUCARANA,CAMPO MOURÃO,CASCAVEL,"C,PROCÓPIO",CURITIBA,"F,BELTRÃO",GUARAPUAVA,IRATI,...,JACAREZINHO,"LARANJ, SUL",LONDRINA,MARINGÁ,PARANAVAÍ,PATO BRANCO,PONTA GROSSA,TOLEDO,UMUARAMA,UNIÃO DA VITÓRIA
4,Arroz Agulhinha em casca tipo 1 ...,MIN,no value,no value,no value,no value,no value,no value,no value,no value,...,no value,no value,no value,no value,90,no value,no value,no value,95,no value
5,Arroz Agulhinha em casca tipo 1 ...,M_C,no value,no value,no value,no value,no value,no value,no value,no value,...,no value,no value,no value,no value,90,no value,no value,no value,95,no value
6,Arroz Agulhinha em casca tipo 1 ...,MÁX,no value,no value,no value,no value,no value,no value,no value,no value,...,no value,no value,no value,no value,95,no value,no value,no value,95,no value
7,Café em coco kg renda,MIN,20,21.35,no value,20.25,no value,no value,no value,no value,...,18.83,no value,20.25,20.2,21.08,no value,no value,21.36,19.25,no value

In [21]:
prices=df.iloc[1:].copy()
prices=prices[prices.columns[2:]]
prices

,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,SIMA,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,COTAÇÃO DO DIA :,Unnamed: 20
4,no value,no value,no value,no value,no value,no value,no value,no value,90,no value,no value,no value,no value,90,no value,no value,no value,95,no value
5,no value,no value,no value,no value,no value,no value,no value,no value,90,no value,no value,no value,no value,90,no value,no value,no value,95,no value
6,no value,no value,no value,no value,no value,no value,no value,no value,90,no value,no value,no value,no value,95,no value,no value,no value,95,no value
7,20,21.35,no value,20.25,no value,no value,no value,no value,18,18.83,no value,20.25,20.2,21.08,no value,no value,21.36,19.25,no value
8,20.66,21.35,no value,20.66,no value,no value,no value,no value,20.85,19.45,no value,20.25,20.2,21.08,no value,no value,21.36,19.9,no value
9,21.08,21.35,no value,21.08,no value,no value,no value,no value,21.35,19.75,no value,21.08,21.08,21.08,no value,no value,21.36,20.08,no value
10,1220,no value,no value,1230,no value,no value,no value,no value,1080,1240,no value,1230,1232,no value,no value,no value,1281.6,1170,no value
11,1260,no value,no value,1255,no value,no value,no value,no value,1251,1280,no value,1230,1280,no value,no value,no value,1281.6,1220,no value
12,1280,no value,no value,1280,no value,no value,no value,no value,1281,1300,no value,1279,1280,no value,no value,no value,1281.6,1280,no value
13,no value,no value,no value,no value,no value,no value,22,21,no value,no value,no value,no value,no value,no value,21,no value,no value,no value,24
14,no value,no value,no value,no value,no value,no value,24,24,no value,no value,no value,no value,no value,no value,22,no value,no value,no value,25
15,no value,no value,no value,no value,no value,no value,27,27,no value,no value,no value,no value,no value,no value,22,no value,no value,no value,27
16,no value,280,210,no value,no value,no value,no value,no value,350,320,220,no value,no value,no value,230,280,no value,350,no value
17,no value,280,235,no value,no value,no value,no value,no value,350,330,230,no value,no value,no value,230,300,no value,350,no value
18,no value,300,250,no value,no value,no value,no value,no value,350,350,250,no value,no value,no value,250,300,no value,350,no value
19,no value,180,170,no value,180,no value,175,170,200,no value,170,no value,no value,no value,160,180,no value,no value,160
20,no value,180,183,no value,190,no value,180,180,200,no value,180,no value,no value,no value,180,190,no value,no value,170
21,no value,200,185,no value,200,no value,190,180,200,no value,180,no value,no value,no value,190,200,no value,no value,190
22,no value,899,no value,no value,no value,no value,no value,no value,no value,no value,no value,no value,no value,899,no value,no value,no value,870,no value
23,no value,899,no value,no value,no value,no value,no value,no value,no value,no value,no value,no value,no value,910.6,no value,no value,no value,881.6,no value
24,no value,899,no value,no value,no value,no value,no value,no value,no value,no value,no value,no value,no value,910.6,no value,no value,no value,899,no value
25,78,76,76,78,75,80,76.2,77,77.4,77,80,78,76,78,77.2,75,76,76,75
26,78,76,80,78,78.5,82,77.2,78,77.4,78,83.7,78,78,78,81,76,76,77,80
27,78,78,80,78,82,84,77.5,80,77.4,78,84,78,78,79,82,76.9,76,78,81
28,174,174,174,174,178,174,175.8,178,174.3,173,175,174,174,174,177,175.6,174,174,178
29,174,174,174,174,179,177,176.5,180,174.3,174,178.5,174,174,174,177,177.5,174,174,181
30,174,174,174,174,180,179,177.4,183,174.3,174,179,174,174,174,178.5,178,174,174,183
31,110,110,110,110,108,110,109,110,110,108,111,110,110,no value,110,110,110,110,100
32,110,110,115,110,109,112,110,110,110,109,112,110,110,no value,114,110,110,110,105
33,110,110,115,110,110,115,112,110,110,110,115,110,110,no value,115,110,110,110,110
34,305,295,290,300,297,295,300,304.5,290,280,295,305,no value,300,290,290,300,300,280
35,310,305,300,300,300,295,310,304.5,300,290,295,305,no value,300,298,300,300,305,300
36,310,305,305,305,300,300,315,304.5,310,295,305,310,no value,300,298,305,315,310,317
37,6.5,6,no value,5.6,no value,5.5,6.4,6.8,7.5,5.2,6,no value,6.8,no value,5.3,6.1,no value,6.5,5.4
38,6.6,6,no value,5.7,no value,5.5,6.6,6.8,7.5,5.4,6.49,no value,6.8,no value,5.3,6.1,no value,6.5,6.3
39,6.6,6,no value,5.8,no value,5.5,6.8,6.8,7.5,5.6,6.6,no value,6.8,no value,5.3,6.45,no value,6.5,6.45
40,270,280,260,270,265,260,270,284.5,260,260,260,280,no value,280,260,260,265,265,230
41,275,295,265,275,267,260,277,284.5,270,265,260,280,no value,280,265,275,265,280,260
42,280,295,275,275,270,270,285,284.5,280,275,260,285,no value,280,270,280,270,280,285.5

In [22]:
Location=[]
Productos=[]
Price=[]
Quota=[]

In [23]:
len(prods),len(prices)

(39, 39)

In [24]:
for i in range(prices.shape[1]):
    for j in range(prices.shape[0]):
        Location.append(locations[i])
        Productos.append(prods[j])
        Price.append(prices[prices.columns[i]].values[j])
        Quota.append(units[j])

In [25]:
Years=[pd.to_datetime(price_date) for _ in Price]
d={
    'Date':Years,
    'Location':Location,
    'PRODUCTOS':Productos,
    'Price':Price,
    'Quote Type':Quota
}

In [26]:
len(Years),len(Location),len(Productos),len(Price),len(Quota),

(741, 741, 741, 741, 741)

In [27]:
impressao=pd.DataFrame(d)
impressao.head(20)

,Date,Location,PRODUCTOS,Price,Quote Type
0,2022-04-07,APUCARANA,Arroz Agulhinha em casca tipo 1 ...,no value,MIN
1,2022-04-07,APUCARANA,Arroz Agulhinha em casca tipo 1 ...,no value,M_C
2,2022-04-07,APUCARANA,Arroz Agulhinha em casca tipo 1 ...,no value,MÁX
3,2022-04-07,APUCARANA,Café em coco kg renda,20,MIN
4,2022-04-07,APUCARANA,Café em coco kg renda,20.66,M_C
5,2022-04-07,APUCARANA,Café em coco kg renda,21.08,MÁX
6,2022-04-07,APUCARANA,Café beneficiado bebida dura - tipo 6 ...,1220,MIN
7,2022-04-07,APUCARANA,Café beneficiado bebida dura - tipo 6 ...,1260,M_C
8,2022-04-07,APUCARANA,Café beneficiado bebida dura - tipo 6 ...,1280,MÁX
9,2022-04-07,APUCARANA,Erva Mate folha posto indústria arroba,no value,MIN
10,2022-04-07,APUCARANA,Erva Mate folha posto indústria arroba,no value,M_C
11,2022-04-07,APUCARANA,Erva Mate folha posto indústria arroba,no value,MÁX
12,2022-04-07,APUCARANA,Feijão Carioca tipo 1 sc 60 Kg,no value,MIN
13,2022-04-07,APUCARANA,Feijão Carioca tipo 1 sc 60 Kg,no value,M_C
14,2022-04-07,APUCARANA,Feijão Carioca tipo 1 sc 60 Kg,no value,MÁX
15,2022-04-07,APUCARANA,Feijão preto tipo 1 sc 60 Kg,no value,MIN
16,2022-04-07,APUCARANA,Feijão preto tipo 1 sc 60 Kg,no value,M_C
17,2022-04-07,APUCARANA,Feijão preto tipo 1 sc 60 Kg,no value,MÁX
18,2022-04-07,APUCARANA,Mandioca padrão de amido 580 g ...,no value,MIN
19,2022-04-07,APUCARANA,Mandioca padrão de amido 580 g ...,no value,M_C

In [28]:
impressao

,Date,Location,PRODUCTOS,Price,Quote Type
0,2022-04-07,APUCARANA,Arroz Agulhinha em casca tipo 1 ...,no value,MIN
1,2022-04-07,APUCARANA,Arroz Agulhinha em casca tipo 1 ...,no value,M_C
2,2022-04-07,APUCARANA,Arroz Agulhinha em casca tipo 1 ...,no value,MÁX
3,2022-04-07,APUCARANA,Café em coco kg renda,20,MIN
4,2022-04-07,APUCARANA,Café em coco kg renda,20.66,M_C
...,...,...,...,...,...
736,2022-04-07,UNIÃO DA VITÓRIA,Suíno em pé tipo carne não integrado ...,6.3,M_C
737,2022-04-07,UNIÃO DA VITÓRIA,Suíno em pé tipo carne não integrado ...,6.45,MÁX
738,2022-04-07,UNIÃO DA VITÓRIA,Vaca em pé (padrão corte) arroba,230,MIN
739,2022-04-07,UNIÃO DA VITÓRIA,Vaca em pé (padrão corte) arroba,260,M_C
740,2022-04-07,UNIÃO DA VITÓRIA,Vaca em pé (padrão corte) arroba,285.5,MÁX

In [29]:
impressao.to_excel('impressao.xls',index=True)

C:\Users\mohamed\AppData\Local\Temp/ipykernel_19308/568644802.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  impressao.to_excel('impressao.xls',index=True)